<!DOCTYPE html>
<html>

<head>
  <title>Fit Ride</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script>
    function restartVideo() {
      var videoElement = document.getElementById('videoStream');
      // Append a unique query parameter to the src to force reload
      var uniqueSrc = "{{ url_for('video') }}" + "?t=" + new Date().getTime();
      videoElement.src = uniqueSrc; // Reset the src to restart the video
      videoElement.style.display = ''; // Make sure the video element is visible
      document.getElementById('videoWait').style.display = 'none';
    }


    function shutDownVideo() {
      // Send a request to the Flask server to shut down the video stream
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "{{ url_for('shutdown_video') }}", true);
      xhr.send();

      // Optionally, hide the video element or display a placeholder
      if (document.getElementById('videoStream').style.display == 'none') {
        console.log("resart")
        restartVideo()
      } else {
        document.getElementById('videoStream').style.display = 'none';
        document.getElementById('videoWait').style.display = '';
        console.log("close")
      }
    }
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales', 'Expenses'],
        ['2013',  1000,      400],
        ['2014',  1170,      460],
        ['2015',  660,       1120],
        ['2016',  1030,      540]
      ]);

      var options = {
        title: 'Company Performance',
        hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
        vAxis: {minValue: 0}
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
</head>

<body>
  <h1>Live streaming</h1>
  <div id="image">
    <video id="videoWait" autoplay loop muted style="display: none;">
      <source src="{{ url_for('static', filename='videos/src/videoWait.mp4') }}" type="video/mp4">
    </video>
    <img id="videoStream" src="{{ url_for('video') }}" width="50%" style="display: '';" />
  </div>
  <!-- Call the shutDownVideo function when the button is clicked -->
  <button type="button" onclick="shutDownVideo()">Shut Down Camera</button>
  </div>
  <div id="chart_div" style="width: 100%; height: 500px;"></div>
</body>

</html>